# Module 3: Data Analytics With Python - Applied Statistics

## Lab1: Data Manipulation With Pandas

<br><br><br><br><br><br>
## Objective
***

<ul type='disc'>
  <li>Series and DataFrame
    <ul type='circle'>
      <li>What is Series?</li>
      <li>What is DataFrame?</li>
    </ul>
  </li>
  <li>DataFrame Basic Properties</li>
  <li> Importing Excel Sheets, csv files and executing SQL Queries </li>
</ul>

<br><br><br><br>
## Series And DataFrame
***

pandas is a Python package providing fast, flexible, and expressive data structures designed to make working with “relational” or “labeled” data both easy and intuitive.  

It aims to be the fundamental high-level building block for doing practical, real world data analysis in Python. 

The two primary data structures of pandas are: - Series and Data Frame.

<br><br><br><br>
## What is Series?
***

Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called index. Pandas Series is nothing but a column in an excel sheet.

In the code below, a simple array is built using numpy and converted to pandas Series.

In [1]:
import pandas as pd
import numpy as np

In [ ]:
x = np.array(['a','b','c','d'])
pd.Series(x)

0    a
1    b
2    c
3    d
dtype: object

We can change the indices using 'index' attribute.

In [ ]:
s = pd.Series([1,2,3,4], index=['a','b','c','d'])       #Changed the indices to 'a','b','c','d'
s

a    1
b    2
c    3
d    4
dtype: int64

In [ ]:
print(s['c'])       #Retrieving an element using new index

3

<br><br><br><br><br><br>
## What is DataFrame?
***

A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.

In [2]:
#Creating a dataframe
data = {'name': ['Molly','Nur','Indar','Adit'],
        'year': [2012, 2014, 2015, 2012],
        'reports': [8, 12, 25, 7]}
type(data)
df = pd.DataFrame(data, index=['Medan', 'Bandung', 'Jakarta', 'Surabaya'])
print(df)
df

           name  year  reports
Medan     Molly  2012        8
Bandung     Nur  2014       12
Jakarta   Indar  2015       25
Surabaya   Adit  2012        7

           name  year  reports
Medan     Molly  2012        8
Bandung     Nur  2014       12
Jakarta   Indar  2015       25
Surabaya   Adit  2012        7

In [3]:
#array like : list, tuple
df.year

Medan       2012
Bandung     2014
Jakarta     2015
Surabaya    2012
Name: year, dtype: int64

In [5]:
print(type(df.year))

<class 'pandas.core.series.Series'>

In [6]:
#loc = memanggil data dari tabel dengan string spesifik baris dan kolomnya
#iloc = memanggil data menggunakan index
df.loc['Medan','name':'reports']

name       Molly
year        2012
reports        8
Name: Medan, dtype: object

In [9]:
df.loc['Medan',['name','reports']] #hanya spesifik kolom

name       Molly
reports        8
Name: Medan, dtype: object

In [8]:
df.iloc[0, 0:]

name       Molly
year        2012
reports        8
Name: Medan, dtype: object

Pandas use loc() and iloc() methods for manipulation of data.  

loc() is label based data selecting method which means that we have to pass the name of the row or column which we want to select. 

iloc() is a indexed based selecting method which means that we have to pass integer index in the method to select specific row/column. 
<br><br>

In [ ]:
#Retrieving data using loc
print(df.loc['Jakarta'])

#Retrieving data using iloc
print(df.iloc[3])

name       Indar
year        2015
reports       25
Name: Jakarta, dtype: object
name       Adit
year       2012
reports       7
Name: Surabaya, dtype: object

In [ ]:
print(df.loc['Medan']) #loc berdasarkan baris atau kolom yang kita inginkan
print(df.iloc[2]) #iloc itu berdasarkan spesifik index dari nama baris atau kolom

name       Molly
year        2012
reports        8
Name: Medan, dtype: object
name       Indar
year        2015
reports       25
Name: Jakarta, dtype: object

In [ ]:
print(df.loc['Medan'])
print(df.iloc[0])

name       Molly
year        2012
reports        8
Name: Medan, dtype: object
name       Molly
year        2012
reports        8
Name: Medan, dtype: object

<br><br><br><br>
## DataFrame Basic Properties
***

Here we are converting a simple Python list into pandas Data Frame.

In [11]:
# import pandas as pd
import pandas as pd
 
# list of strings
lst = ['Aman', 'Siya', 'Denver', 'Freya',np.nan]

# Calling DataFrame constructor on list
df = pd.DataFrame(lst) #Mengkoversikan/merubah data list ke data frame
print(df)

        0
0    Aman
1    Siya
2  Denver
3   Freya
4     NaN

Here, we are converting a python dictionary to pandas Data Frame.

In [12]:
# Demonstrate creating  DataFrame from dict narray / lists 

import pandas as pd #memanggil library python atau pandas
 
# intialise data of lists.
data = {'Name':['Nur', 'Gesang', 'Kia', 'Jack'],
        'Age':[18, 22, 20, 28]}
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
print(df)

     Name  Age
0     Nur   18
1  Gesang   22
2     Kia   20
3    Jack   28

In [15]:
df[['Age']]

   Age
0   18
1   22
2   20
3   28

Retrieving data using column names is simple and as shown as below:

In [16]:
#Selecting columns

import pandas as pd
 
# Define a dictionary containing employee data
data = {'Name':['Adi', 'Gesang', 'Indar', 'Nur'],
        'Age':[27, 34, 22, 30],
        'Address':['Jakarta', 'Bandung', 'Medan', 'Surabaya'],
        'Qualification':['Msc', 'BSc', 'MCA', 'Phd']}
 
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
print(df, "\n\n") 
# select two columns
print(df[['Name', 'Qualification']])
print(df, "\n\n")
print(df[['Name', 'Age', 'Address']])

     Name  Age   Address Qualification
0     Adi   27   Jakarta           Msc
1  Gesang   34   Bandung           BSc
2   Indar   22     Medan           MCA
3     Nur   30  Surabaya           Phd


     Name Qualification
0     Adi           Msc
1  Gesang           BSc
2   Indar           MCA
3     Nur           Phd
     Name  Age   Address Qualification
0     Adi   27   Jakarta           Msc
1  Gesang   34   Bandung           BSc
2   Indar   22     Medan           MCA
3     Nur   30  Surabaya           Phd


     Name  Age   Address
0     Adi   27   Jakarta
1  Gesang   34   Bandung
2   Indar   22     Medan
3     Nur   30  Surabaya

<br><br>
Data can be retrieved using rows using two methods: loc () and iloc () 

loc () is label-based data selecting method which means that we must pass the name of the row or column which we want to select. 

Here we are using loc and selecting data of people who live in ‘Medan’ and whose age>20. 
<br><br>

In [17]:
#Selecting rows
import pandas as pd
 
data = {'Name':['Adi', 'Gesang', 'Indar', 'Nur', 'Pai'],
        'Age':[27, 34, 22, 30, 25],
        'Address':['Medan', 'Bandung', 'Medan', 'Surabaya','Surabaya'],
        'Qualification':['Msc', 'BSc', 'MCA', 'Phd','BSc']}

# retrieving row by loc method
df = pd.DataFrame(data)

print(df.loc[(df.Address=='Medan') & (df.Age > 20)])

    Name  Age Address Qualification
0    Adi   27   Medan           Msc
2  Indar   22   Medan           MCA

This code will output all the rows from 2nd index to 4th index.

In [18]:
print(df)
df.loc[2:5]

     Name  Age   Address Qualification
0     Adi   27     Medan           Msc
1  Gesang   34   Bandung           BSc
2   Indar   22     Medan           MCA
3     Nur   30  Surabaya           Phd
4     Pai   25  Surabaya           BSc

    Name  Age   Address Qualification
2  Indar   22     Medan           MCA
3    Nur   30  Surabaya           Phd
4    Pai   25  Surabaya           BSc

iloc() is a indexed based selecting method which means that we have to pass integer index in the method to select specific row/column. 

This will return rows with index 0, 2 and 3.

In [ ]:
df.iloc[[0,2,3]]

    Name  Age   Address Qualification
0    Adi   27     Medan           Msc
2  Indar   22     Medan           MCA
3    Nur   30  Surabaya           Phd

In [19]:
df.iloc[list(range(1,len(df),2))]

     Name  Age   Address Qualification
1  Gesang   34   Bandung           BSc
3     Nur   30  Surabaya           Phd

This will return data of rows from 1st to 4th index and 1st to 2nd column.

In [ ]:
df.iloc[1:5,1:3]

   Age   Address
1   34   Bandung
2   22     Medan
3   30  Surabaya
4   25  Surabaya

<br><br><br><br><br><br><br><br>
## Importing Excel Sheets, csv files and executing SQL Queries 
***

In [20]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [22]:
import pandas as pd 

# download dataset from
#https://github.com/bluedataconsulting/AIMasteryProgram/blob/main/Lab_Exercises/Module3/sample.xlsx"
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/sample.xlsx")
print(df)

                Book          Author
0      The Alchemist    Paulo Coelho
1           Becoming  Michelle Obama
2  Rich Dad Poor Dad  Robert Kiyoski

Here we will read an excel file as a data frame.

Here the excel file will be read and the ‘Book’ column will be made the index.

In [23]:
import pandas as pd
  
# Download dataset from
# https://github.com/bluedataconsulting/AIMasteryProgram/blob/main/Lab_Exercises/Module3/sample.xlsx
# Here 0th column will be extracted and made it index
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/sample.xlsx", index_col = 0)  
df.head()

                           Author
Book
The Alchemist        Paulo Coelho
Becoming           Michelle Obama
Rich Dad Poor Dad  Robert Kiyoski

When we don’t want the names of the columns(header) to be read, we use  header=None.

In [24]:
import pandas as pd

df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/sample.xlsx', header = None)
print(df)

                   0               1
0               Book          Author
1      The Alchemist    Paulo Coelho
2           Becoming  Michelle Obama
3  Rich Dad Poor Dad  Robert Kiyoski

In [25]:
#Loading a csv file using pandas

# download dataset from  - 
# https://raw.githubusercontent.com/bluedataconsulting/AIMasteryProgram/main/Lab_Exercises/Module2/PlantGrowth.csv
df = pd.read_csv('https://raw.githubusercontent.com/bluedataconsulting/AIMasteryProgram/main/Lab_Exercises/Module2/PlantGrowth.csv')
df.head()

   Unnamed: 0  weight group
0           1    4.17  ctrl
1           2    5.58  ctrl
2           3    5.18  ctrl
3           4    6.11  ctrl
4           5    4.50  ctrl

In [33]:
df.drop(axis=1,columns='Unnamed: 0')

    weight group
0     4.17  ctrl
1     5.58  ctrl
2     5.18  ctrl
3     6.11  ctrl
4     4.50  ctrl
5     4.61  ctrl
6     5.17  ctrl
7     4.53  ctrl
8     5.33  ctrl
9     5.14  ctrl
10    4.81  trt1
11    4.17  trt1
12    4.41  trt1
13    3.59  trt1
14    5.87  trt1
15    3.83  trt1
16    6.03  trt1
17    4.89  trt1
18    4.32  trt1
19    4.69  trt1
20    6.31  trt2
21    5.12  trt2
22    5.54  trt2
23    5.50  trt2
24    5.37  trt2
25    5.29  trt2
26    4.92  trt2
27    6.15  trt2
28    5.80  trt2
29    5.26  trt2

### Thank You !!!